html {
    box-sizing: border-box;
} 

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 88, 116);
}

h1,
h2,
h3 {
    font-family: "Courier New";
    font-weight: bold;
    text-decoration: underline;
    margin: 20px auto;
    width: fit-content;
}

p {
    margin: 0 auto;
    margin-bottom: 10px;
}

/*Make images rounded*/
img {
    border-radius: 150px;
}

div.recipes-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

li.recipe-item {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 10px 20px;
}

li.recipe-item a {
    display: block;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: white;
    color: black;
    text-decoration: none;
    margin: 0px auto;
    padding: 10px 12px;
}

li.recipe-item img {
    display: inline-block;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
}

.page-container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(255, 132, 152);
}
