h1,
h2,
h3 {
    font-family: "Courier New";
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

p {
    border: 1px solid grey;
    padding: 5px;
    margin-left: 150px;
    margin-right: 150px;
}

/*Make images rounded*/
img {
    border-radius: 1000px;
}

div#recipes-container {
    text-align: center;
}

li.recipe-item {
    display: inline-block;
    margin-right: 100px;
    text-align: center;
}

li.recipe-item a {
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
