* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Courier New";
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 30px;
    margin-top: 30px;
}

p {
    padding: 5px;
    width: 70%;
    margin: auto;
}

/*Make images rounded*/
img {
    border-radius: 1000px;
}

div.recipes-container {
    text-align: center;
    width: 80%;
    margin: auto;
}

li.recipe-item {
    display: inline-block;
    text-align: center;
    margin: 10px 20px;
}

li.recipe-item a {
    font-size: 20px;
    display: inline-block;
}
